{% extends 'base_layout.html' %}

{% block content %}

<h1>Your Shopping Cart</h1>
 
    <div class="product-list">
 
    
 
    {% for item in cart_items %}
    <div class="product-item">
        <p>{{ item.product.name }} ({{ item.quantity }})</p>
        <p>Price: ${{ item.product.price }}</p>
        <p>Discount: ${{ item.discount }}</p>
        <a href="{% url 'products:remove_from_cart' item.id %}">Remove</a>
    </div>
    {% empty %}
    <p>Your cart is empty.</p>
    {% endfor %}
 
    </div>
 
    <p>Total Price: ${{ total_price }}</p>
    <form action="{% url 'products:apply_discount' %}" method="post">
        {% csrf_token %}
        <label for="discount">Apply Discount: $</label>
        <input type="number" id="discount" name="discount" step="0.01" min="0" required>
        <button type="submit">Apply</button>
    </form>
    
 
    <a href="{% url 'products:list' %}">Continue Shopping</a>
 
</body>
{% endblock %}
